<html>
    <body>
        <ul>
            <li>Id : {{id}}</li>
            <li>Name : {{name}}</li>
            <li>Place of Birth : {{placeOfBirth}}</li>
            <li><a href='/person/{{id}}/movies'> Also on </a></li>
        </ul>
    </body>
</html>