<html>
    <body>
        {{#each movies}}
            <ul>
                <li>Title : {{title}} </li>
                <li><a href='/movies/{{id}}'>Details </a> </li>
            </ul>
        {{/each}}

    </body>
</html>