<html>
    <body>
        <ul>
            <li>Id : {{id}}</li>
            <li>Title : {{original_title}}</li>
            <li>Release Date : {{release_date}}</li>
            <li><a href='/movies/{{id}}/credits'> Cast & Crew </a> </li>
        </ul>
    </body>
</html>