<html>
    <body>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Id</th>
            </tr>
                {{#each movies}}
                <tr>
                    <td> {{title}} </td>
                    <td>
                        <a href='/movies/{{id}}'>
                             {{id}}
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </body>
</html>