<div>
    <div>
        <div>
            <form>
                <div class="form-row">
                    <div class="col">
                        <input id="inputName" type="text" class="form-control" placeholder="Group name">
                    </div>
                    <div class="col">
                        <input id="inputDescription" type="text" class="form-control" placeholder="Group description">
                    </div>
                </div>
            </form>
        </div>
        <div>
            <p></p>
            <button id="buttonCreate" type="submit" class="btn btn-primary">Create</button>
            <p></p>
        </div>
    </div>
    <div id="divGroups"></div>
</div>