<div>
    <div>
        <div id="divDetails"></div>
        <form>
            <div class="form-row">
                <div class="col">
                    <input id="editName" type="text" class="form-control" placeholder="New group name">
                </div>
                <div class="col">
                    <input id="editDescription" type="text" class="form-control" placeholder="New group description">
                </div>
            </div>
        </form>
    </div>
        <div>
            <p></p>
            <button id="buttonEdit" type="submit" class="btn btn-primary">Edit</button>
            <p></p>
        </div>
    <div>
        <p></p>
        <button id="buttonMatches" type="submit" class="btn btn-primary">Matches</button>
        <p></p>
    </div>
    <h4>Your Teams!</h4>
    <div id="divGroupTeams"></div>
</div>