<body>
    <div class="container">
        <h1><p>FOCA</p></h1>
        <div id="divNavbar"></div>
        <p></p>
        <div id="divAlerts"></div>
        <p></p>
        <div id="divMain"></div>
        <div>
            <div class="card-footer">
                References
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        Application built with Node.js support.
                    </li>
                    <li class="card-text">
                        <a href="https://www.football-data.org/" target="_blank">
                            Football Data API
                            <img src="./../img/api-logo.jpg" width="30px">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>