<div>
    <h3>See your teams matches</h3>
    <form>
            <div class="form-row">
                <div class="col">
                    <input id="startDate" type="text" class="form-control" placeholder="From (yyyy-mm-dd)">
                </div>
                <div class="col">
                    <input id="endDate" type="text" class="form-control" placeholder="To (yyyy-mm-dd)">
                </div>
            </div>
        <p></p>
        </form>
        <button id="buttonMatches" type="submit" class="btn btn-primary">Go</button>
        <p></p>
    <div id="divMatches"></div>
</div>